Django==5.2.9
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
psycopg2-binary
langchain
langchain-groq
langchain-community
langchain-google-genai
celery
redis
pdfminer.six
python-docx
channels
daphne
channels-redis
requests
google-auth
pgvector
Pillow
razorpay
